{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": 2,
        "targets": {
          "browsers": "ie >= 9"
        },
        "useBuiltIns": "entry"
      }
    ]
  ]
}
